* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*fine reset*/
body {
  background-image: url(../img/sfondo.png);
  font-family: sans-serif;
}
.contenitore {
  width: 60%;
  margin: auto;
}
/*inizio header*/
/*inizio titolo*/
.titolo {
  background-image: url(../img/background-header.jpg);
  height: 220px;
  color: white;
  text-align: center;
  border: 7px solid white;
  position: relative;
}
.testo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
h1 {
  padding: 10px;
}
/*fine titolo*/
/*inizio menu*/
.menu {
  background: grey;
  width: 100%;
  text-align: center;
}
header .menu ul {
  list-style: none;
  margin: auto;
}
header .menu ul li {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 11px;
  margin: 0 5px;
  line-height: 40px;
}
/*fine menù */
/*fine header */
/*inizio main */
/*inizio colonna destra */
main::after {
  content: '';
  display: table;
  clear: both;
}
.colonnadestra {
  width: 25%;
  height: 630px;
  float: right;
  margin-top: 10px;
}
.primo {
  background-color: #f4f4f4;
  border-radius: 7px 7px;
  width: 100%;
}
.secondo {
  background-color: #f4f4f4;
  border-radius: 7px 7px;
  width: 100%;
  margin-top: 15px;
}
.terzo {
  background-color: #f4f4f4;
  border-radius: 7px 7px;
  width: 100%;
  margin-top: 15px;
}
h2 , p {
  padding:10px;
}
/*fine colonna destra */
/*inizio colonnacentrale*/
.colonnacentrale {
  background: #f4f4f4;
  width: 46%;
  border-radius: 7px 7px;
  float: right;
  margin-right: 22px;
  margin-top: 10px;
}
/*fine colonnacentrale*/
/*inizio colonnasinistra*/
.colonna-sinistra {
  background: #f4f4f4;
  width: 24%;
  float: left;
  border-radius: 7px 7px;
  margin-top: 10px;
}
.testata-colonna::after {
  content: '';
  display: table;
  clear: both;
}
.icona {
  color: orange;
  float: left;
  padding: 2px;
  font-size: 30px;
}
.titolo-colonna {
  float: left;
  padding: 1px;
  margin-top: 10px;
}
.testo-sinistra {
  color: green;
}
